@import "colors";

$navbar-background-color: $tt-dark-blue;
$text: $tt-dark-blue;
$primary: $tt-magenta;
$dark: $tt-dark-blue;
$light: $tt-grey-1;
$link: $tt-magenta;
$link-hover: darken($tt-magenta, 20%);
$footer-background-color: $tt-dark-blue;
$grey-light: $tt-grey-2;
$navbar-height: 6rem;