extends ../layouts/layout

block content
    section.hero.is-large.home-hero
        .hero-body
            .container.has-text-centered
                h1.title.has-text-white.is-1
                    | Audio Engineer
    section.section.top-container-after-hero
        .container.content
            p.title.has-text-primary.has-text-centered.is-2 Kirjeldus
            p.has-text-dark
                | Otsime meeskonda helitehnikut eesmärgiga tagada laitmatu heli otseülekandes.
            p
                span.has-text-primary.has-text-weight-semibold Panustamise aeg:
                span  19.-21. aprill (võimalusel ka mõni päev varem)
            p
                span.has-text-primary.has-text-weight-semibold Meeskond:
                span  broadcast
    section.section
        .container.content
            p.title.has-text-primary Ülesanded
            ul
                li Helitehnika ülesseadmine
                li Otseülekande heli monitoorimine
    section.section
        .container.content
            p.title.has-text-primary Eeldused kandidaadile
            ul
                li Helitehnika tundmine
                li Vähemalt 18 aastat vana
    section.section
        .container.content
            p.title.has-text-primary Kasuks tuleb
            ul
                li Varasem kokkupuude otseülekannetega
    section.section
        .container.content
            p.title.has-text-primary Omalt poolt pakume
            ul
                li Head võimalust täiendada oma CV-d
                li Võimalust saada "jalg ukse vahele" Eesti e-Spordi ürituste korraldamises
                li Vaade Eesti suurima võrgupidude sarja kardinate taha
    section.section
        .container.content
            a(href="https://e-sport-volunteer.typeform.com/to/" + "qgrVxb").button.is-primary.is-large.is-fullwidth.is-outlined Liitu meiega!
    section.section.top-container-after-hero
        .container.content
            p.title.has-text-primary.is-5 Vajad rohkem infot?
            p
                span.has-text-dark Lauri Kukk
                | &nbsp|&nbsp
                span.has-text-light Broadcast Team Lead
                | &nbsp|&nbsp
                a(href="mailto:lauri@ituk.ee") lauri@ituk.ee
