extends ../layouts/layout

block content
    section.hero.is-large.home-hero
        .hero-body
            .container.has-text-centered
                h1.title.has-text-white.is-1
                    | CS:GO Caster/Analyst
    section.section.top-container-after-hero.has-text-centered
        .notification.is-inline-block: strong Kandideerimine on lõppenud!
    section.section
        .container.content
            p.title.has-text-primary.has-text-centered.is-2 Kirjeldus
            p.has-text-dark
                | Otsime meeskonda talendikaid ja värskeid castereid ja analüütikuid, kes lisaks CS:GO tundmisele
                |  tunneksid ennast mugavalt ka kaamera ees.
            p
                span.has-text-primary.has-text-weight-semibold Panustamise aeg:
                span  19.-21. aprill
            p
                span.has-text-primary.has-text-weight-semibold Meeskond:
                span  broadcast
    section.section
        .container.content
            p.title.has-text-primary Ülesanded
            ul
                li CS:GO mängude kommenteerimine
                li CS:GO mängude analüüsimine
                li Kaamera ees publikuga suhtlemine
    section.section
        .container.content
            p.title.has-text-primary Eeldused kandidaadile
            ul
                li Teadmised CS:GO-st
                li Vähemalt 18 aastat vana
                li Hea rääkimisoskus
                li Vähene esinemishirm
                li Hea võime töötada meeskonnas
    section.section
        .container.content
            p.title.has-text-primary Kasuks tuleb
            ul
                li Varasem kokkupuude e-spordiüritustel mängude ülekandmisega
                li Kogemus commentary stiilis videode kommenteerimisega
                li Varasem kogemus striimimisega
                li Hea ja selge hääl
    section.section
        .container.content
            p.title.has-text-primary Omalt poolt pakume
            ul
                li Huvitav kogemus
                li Võimalus tõsta Eesti suurima võrgupidude sarja otseülekande kvaliteeti
                li Võimalust saada "jalg ukse vahele" Eesti e-Spordi ürituste korraldamises
                li Vaade Eesti suurima võrgupidude sarja kardinate taha
                li Võimalus teha kommentaatori tööd ka teistes projektides
    section.section
        .container.content
            //a(href="https://e-sport-volunteer.typeform.com/to/" + "zqsLue").button.is-primary.is-large.is-fullwidth.is-outlined Liitu meiega!
            span(disabled).button.is-primary.is-large.is-fullwidth.is-outlined Liitu meiega!
    section.section.top-container-after-hero
        .container.content
            p.title.has-text-primary.is-5 Vajad rohkem infot?
            p
                span.has-text-dark Lauri Kukk
                | &nbsp|&nbsp
                span.has-text-light Broadcast Team Lead
                | &nbsp|&nbsp
                a(href="mailto:lauri@ituk.ee") lauri@ituk.ee
