footer.footer.main-footer
    .content.has-text-centered
        p.title.has-text-grey-light.is-5 Ei leia endale sobivat kohta?
        p.subtitle.has-text-grey-light.is-5 Kirjuta meile, leiame Sulle midagi huvitavat!
    .content.has-text-centered
        p.has-text-grey-light
            span.has-text-grey-light Alo Pullmann
            | &nbsp|&nbsp
            span.has-text-light Vabatahtlike koordinaator
            | &nbsp|&nbsp
            a(href="mailto:alo.pullmann@gmail.com") alo.pullmann@gmail.com
    .content.has-text-centered
        p: a(href="https://e-sport.ee/") TalTech e-Sport
