mixin position-card(title, description, team, subPage, form)
    .column.is-one-quarter-fullhd.is-one-third-desktop.is-half-tablet.is-full-mobile
        .card.full-height-card
            .card-content
                p.title.has-text-dark
                    | #{title}
                span.tag.team-tag #{team}
                p.has-text-light
                    | #{description}
            footer.card-footer
                a(href="positions/" + subPage + ".html").card-footer-item Loe rohkem
                a(href="https://e-sport-volunteer.typeform.com/to/" + form).card-footer-item Liitu
