extends layouts/layout
include mixins/position-card

block content
    section.hero.is-large.home-hero
        .hero-body
            .container.has-text-centered
                h1.title.has-text-white.is-1
                    | Liitu TalTech e-Spordi meeskonnaga!
    section.section.top-container-after-hero
        .container
            h1.title.has-text-centered.has-text-primary.is-2 Miks liituda?
            p.has-text-dark
                | TalTech e-Sport (vana nimega TTÜ e-Sport) on Eestis aastaid vedanud võrgupidude ja e-turniiride traditsioone. Nagu on aegamisi kasvanud meie üritusteseeria, kasvab ka meie meeskond!
            p.has-text-dark
                | Seekord kutsume Sind kaasa lööma TalTech e-Spordi korraldusmeeskonnas alljärgnevatel positsioonidel, et viia läbi selle aasta vingeim võrgupidu! Kui tunned, et soovid väljakutset võrgupeo korraldamises, on see mõeldud just Sulle!
            p.has-text-dark
                | Kui aga arvad, et antud positsioonid pole päris Sinu maitsele, võta ühendust meie ürituse vabatahtlike koordinaatoriga (lehekülje lõpus), küll leiame Sulle midagi.
            p.has-text-dark
                | Miks liituda? Miks mitte? Liitu kohe!
    section.section
        .container
            h1.title.has-text-centered.has-text-primary.is-2 Positsioonid
            .columns.is-multiline.is-centered
                +position-card("Software Engineer", "TalTech e-Spordi otseülekannne on juba pikalt olnud" +
                " natuke eriline. Lisaks võimekale visuaalide- ning kaugjuhtimissüsteemidele kasutame mitmeid" +
                " integratsioone näiteks mängude tulemuste ning muu mängude ja mängjatega seonduva info ülekandes" +
                " kuvamiseks.", "broadcast", "software-engineer", "UiLpZQ", true)
                +position-card("CS:GO Observer", "Observeri ülesandeks on pakkuda otseülekande vaatajatele" +
                " erinevaid vaatenurki mängust ning näidata just kõige huvitavamaid palasid.",
                "broadcast", "csgo-observer", "g5PRP6", true)
                +position-card("CS:GO Caster/Analyst", "Otsime meeskonda talendikaid ja värskeid castereid ja " +
                "analüütikuid, kes lisaks CS:GO tundmisele tunneksid ennast mugavalt ka kaamera ees",
                "broadcast", "csgo-caster-analyst", "zqsLue", true)
                +position-card("Audio Engineer", "Otsime meeskonda helitehnikut eesmärgiga tagada laitmatu heli" +
                " otseülekandes.", "broadcast", "audio-engineer", "qgrVxb", true)
